REQUIREMENTS
Alissa Bonnel
BONA25589603
********************************************************************************
Avoir sur son ordinateur:
- PHP
********************************************************************************


********************************************************************************
ETAPE 1
********************************************************************************
Installer le Zip de PHP en allant sur:
https://windows.php.net/download



********************************************************************************
ETAPE 4
********************************************************************************
Lancer PHP. en cmd:
taper:		php -S 127.0.0.1:80 -t C:chemin-vers-le-projet
exemple:	php -S 127.0.0.1:80 -t C:\Users\Alissa\Desktop\reseaux\lab3\projet



********************************************************************************
ETAPE 5
********************************************************************************
Ouvrir votre navigateur et aller sur:
http://127.0.0.1:80