.body2 {
    background-color: powderblue;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table2 {
    width: 500px;
    border-spacing: 2px;
    background-color: #ecb3ff;
    border-left: 5px solid #cc33ff;
    border-right: 5px solid #cc33ff;
    border-bottom: 5px solid #cc33ff;
    border-top: 5px solid #cc33ff;
    padding: 5px;
    border-spacing: 5px;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
}

.table2 td {
    vertical-align: baseline;
    }

.gros_texte {
    color: #cc33ff;
    font-size: 18px;
    font-weight: bold;
}

.petit_texte {
    color: #cc33ff;
    font-size: 14px;
    font-weight: bold;
}

.oups {
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
}

.table_oups {
    width: 500px;
    border-spacing: 2px;
    background-color: #ff0000;
    padding: 5px;
    border-spacing: 5px;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
}

.gros_texte_noir {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}